# Use `docker-compose up -d` to start
services:
  postgres:
    # See https://hub.docker.com/_/postgres
    image: postgres:17-alpine
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=5FCCBA11-B16E-4C47-BFDF-06051C17226D # random password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
volumes:
  postgres_data:
