services:
  caddy:
    image: caddy:2.10.2-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./cert.pem:/etc/caddy/cert.pem
      - ./key.pem:/etc/caddy/key.pem
      - ./ca.pem:/etc/caddy/ca.pem